{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'room_style.css' %}"/>
    <title>Chat Room</title>
</head>
<body>
    <div class="chat-area">
        <div class="messages">
            <ul class="messages" id="chat-log">
                {% for message in messages %}
                    {% if message.username == user %}
                        <li class="send">
                            <p class="send-text">{{ message.message }}</p>
                        </li>
                    {% endif %}
                    {% if message.username != user %}
                        <li class="replies">
                            <p class="reply-text">{{ message.message }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <nav class="chat">
            <div class="buttons-chat">
                <a href="{% url 'logout' %}"> <button class="button">Logout</button></a>
            </div>
            <input class="chat-message-input" id="chat-message-input" type="text"><br>
            <input id="chat-message-submit" type="button" value="Send">    
        </nav>
        
    </div>
    
    {{ room_name|json_script:"room-name" }}
    {{ user|json_script:"user" }}
    <script>
        window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
        const username = JSON.parse(document.getElementById('user').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let listTag = document.createElement('li')
            let pTag = document.createElement('p')
            pTag.textContent = data.message
            if(data.username == username){
                listTag.className = 'send'
                pTag.className = 'send-text'
            }
            else{
                listTag.className = 'replies'
                pTag.className = 'reply-text'
            }
            listTag.appendChild(pTag)
            document.querySelector('#chat-log').appendChild(listTag)
            window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': username,
                'room_name': roomName
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>