{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'room_style.css' %}"/>
    <title>Chat Room</title>
</head>
    <body>
        <div class="display">
            <div class="sidebar">
                <div class="profile">
                    <h2>Welcome {{ user }}</h2>
                    <a href="{% url 'logout' %}"> <button class="button">Logout</button></a>
                </div>
                <nav class="contacts">
                    <input id="room-name-input" type="text" size="100" placeholder="Enter room name..." required><br>
                    <input id="room-name-submit" type="button" value="Enter">
                </nav>    
            </div>
            <div class="chat-area">
                <div class="room_name">
                    <h2>Room: {{ room_name }}</h2>
                </div>
                <div class="messages">
                    <ul class="text-list" id="chat-log">
                        {% for message in messages %}
                            {% if message.username == user %}
                                <li class="send">
                                    <p class="send-text">{{ message.message }}</p>
                                </li>
                            {% endif %}
                            {% if message.username != user %}
                                <li class="replies">
                                    <p class="reply-text">{{ message.message }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="chat">
                    <input class="chat-message-input" id="chat-message-input" type="text"><br>
                    <input id="chat-message-submit" type="button" value="Send">    
                </div>        
            </div>
        </div>     
        {{ room_name|json_script:"room-name" }}
        {{ user|json_script:"user" }}
        <script src="{% static 'room.js' %}"></script>
    </body>
</html>